{% extends 'base.html'%}

{% block content %}

{% load static %}

<div class="page-background">
    <div class="page-container">
    	<div>
    		<h2>All Events</h2>
    	</div>
        <div class="most_participants_ever"> 
            <p>Most participants ever:</p>           
            <p>{{ most_participants_ever_value }}</p>
            <p>on event</p>
            <p>{{ most_participants_ever_event }}</p>                 
            <p>{{ most_participants_ever_date }}</p>         
        </div>
        <div class="event-options-container">
            
           		<p>Event:</p>
            
            	<ul>
                    <li class="{{ daily_options_container_active }}"><a href="/all_events/Daily/{{ last_daily_date }}/">Daily</a></li>
                    <li class="{{ daily2_options_container_active }}"><a href="/all_events/Daily2/{{ last_daily2_date }}/">Daily2</a></li>
                    <li class="{{ weekly_options_container_active }}"><a href="/all_events/Weekly/{{ last_weekly_date }}/">Weekly</a></li>
                    <li class="{{ weekly2_options_container_active }}"><a href="/all_events/Weekly2/{{ last_weekly2_date }}/">Weekly2</a></li>
                    <li class="{{ monthly_options_container_active }}"><a href="/all_events/Monthly/{{ last_monthly_date }}/">Monthly</a></li>
                </ul>

                <p id="event-options-container_date">Date:</p>
            
                <div class="date_selector">
                    <form>
                        <select id="date_selector">
                            <option value="nothing">Select Date</option>
                            {% for date in date_selector_list %}
                                <option value="/all_events/{{ event_category }}/{{ date }}/">{{ date }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                
        </div>

        <div class="leaderboards-tables">
            <table class="info-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Event Name</th>
                        <th>Location</th>
                        <th>Stage</th>
                        <th>Time of the Day</th>
                        <th>Weather</th>
                        <th>Drivers Finished</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td title="{{ date }}">{{ date }}</td>
                        <td title="{{ event_name }}">{{ event_name }}</td>
                        <td title="{{ location }}">{{ location }}</td>
                        <td title="{{ stage }}">{{ stage }}</td>
                        <td title="{{ time_of_the_day }}">{{ time_of_the_day }}</td>
                        <td title="{{ weather }}">{{ weather }}</td>
                        <td title="{{ total_drivers }}">{{ total_drivers }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="lead-table">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Country</th>
                        <th>Name</th>
                        <th>Driver ID</th>
                        <th>Vehicle</th>
                        <th>Time</th>
                        <th>Diff 1st</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in zipped_leader_list %}
                        <tr>
                            {% for cell in row %}

                                {% if forloop.counter0 == 1 %}
                                    {% with 'scrapping/Country_Flags/'|add:cell|add:'.jpg' as image_static %}
                                        <td><a style="text-decoration: none; color: inherit;" href="/countrystats/{{ cell }}/overall/overall_points/"><img class="hover_flag" src="{% static image_static %}" alt="no picture" height="24px" width="40px" title="{{ cell }}"></a></td>
                                    {% endwith %}

                                {% elif forloop.counter0 == 2 %}

                                    {% for id in row %}
                                        {% if forloop.counter0 == 3 %}
                                            <td><a title="{{ cell }}" style="text-decoration: none; color: inherit;" href="/driverstats/{{ id }}/">{{ cell }}</a></td>
                                        {% endif %}
                                    {% endfor %}

                                {% elif forloop.counter0 == 3 %}
                                    <td><a style="text-decoration: none; color: inherit;" href="/driverstats/{{ cell }}/">{{ cell }}</a></td>
                                        
                                {% elif forloop.counter0 == 4 %}
                                    <td title="{{ cell }}">{{ cell }}</td>

                                {% else %}
                                    <td>{{ cell }}</td>
                                {% endif %}

                            {% endfor %}
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <footer>
            
        </footer>
    </div>
</div>



<script>
    var dateMenu = document.getElementById('date_selector');
    dateMenu.onchange = function() {
        var userOption = this.options[this.selectedIndex];
        if (userOption.value != 'nothing') {
            location.href = userOption.value;
        }
    }
</script>

{% endblock %}
