<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dirt Rally Leaderboards</title>

    {% load static %}

    <!-- <script src="jquery-3.3.1.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <!-- <script 
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>

    <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">  
    </script> -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'scrapping/style.css' %}">


</head>
<body>

    <div class="fixed">
        <div>
            <header>
                <div class="header-background">
                    <div class="main-heading">
                        <div>
                            <h1>Dirt Rally</h1>
                            <h2>Leaderboards</h2>
                            <h6>{{ current_status }}</h6>
                        </div>               
                        <p><span>Last database update:</span><span>{{ last_update }}&nbsp;(UTC)</span><span style="font-size: 14px; color: orange;">Database active since: 07.27.2018 ({{ total_days }} days)</span></p>
                    </div>
                    <div class="main-nav">
                        <ul>
                            <li class="{{ main_nav_button_1_tag }}"><a href="/drivers_order_by/overall/overall_points/">Leaderboards</a></li>
                            <li class="{{ main_nav_button_2_tag }}"><a href="/driverstats/133513/">Stats</a></li>
                            <li class="{{ main_nav_button_3_tag }}"><a href="/all_events/Daily/{{ last_date }}/">All Events</a></li>
                            <li class="{{ main_nav_button_4_tag }}"><a href="{% url 'how_this_site_works'%}">How This Site Works</a></li>
                        </ul>
                    </div>
                </div>
            </header>
        </div>
    </div>

    {% block content %}
        replace me
    {% endblock %}  


<script src="{% static 'scrapping/seconds_converter.js' %}"></script>
<script src="{% static 'scrapping/finish_place_percentages.js' %}"></script>
<script src="{% static 'scrapping/search_field_script.js' %}"></script>

</body>
</html>