{% extends 'base.html'%}

{% block content %}

{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="page-background">
    <div class="page-container">
        <div>
            <h2>Driver Stats</h2>
        </div>
        
        <div class="stats_switch_buttons">
            <ul>
                <li class="stats_active_switch_button"><a href="/driverstats/{{ drivers_id }}/">Driver Stats</a></li>
                <li class="stats_inactive_switch_button"><a href="/countrystats/Latvia/overall/overall_points/">Country stats</a></li>
            </ul>    
        </div>   

        <div class="search">
          <input type="text" class="searchTerm" id="searchField" placeholder="Search by driver's name or ID...">
          <button id="myBtn" onclick="searchFunction()" type="submit" class="searchButton"><i class="fa fa-search"></i></button>
       </div>         
        
        <div class="driver_name">
            <span>{% with 'scrapping/Country_Flags/'|add:country_from|add:'.jpg' as image_static %}
                        <td><a id="flag_links" style="text-decoration: none; color: inherit;" href="/countrystats/{{ country_from }}/overall/overall_points/"><img class="flags" src="{% static image_static %}" alt="no picture" height="37.5px" width="62.5px" title="{{ country_from }}"></a></td>
                    {% endwith %}
            </span>
            <span>{{ drivers_name }}</span>
        </div>

        <div class="driver_id">
            <p>Driver ID: {{ drivers_id }}</p>
        </div>

        <div class="driver_main_stats_table_div">                 
            <table class="driver_main_stats_table">
                
                <tr>
                    <th colspan="10" style="color: white; background-color: #337ab7;">Stats</th>
                </tr>

                <tr>
                    <th></th>
                    <th>Events</th>
                    <th>Points</th>
                    <th title="Average Points per Event">Average Points</th>
                    <th>Average Place</th>
                    <th>1st Places</th>
                    <th>Top 3</th>
                    <th>Top 10</th>
                    <th>Top 100</th>
                    <th>Driving Time</th>
                </tr>

                <tr>
                    <th>Overall</th>                                                                        
                    <td class="percentages_events_finished">{{ overall_events_finished }}</td>
                    <td>{{ overall_points }}</td>
                    <td>{{ overall_average_points }}</td>
                    <td>{{ overall_average_finish_place }}</td>                  
                    <td class="percentages_first_places">{{ overall_first_places }}</td>                  
                    <td class="percentages_top_3">{{ overall_top_3 }}</td>                   
                    <td class="percentages_top_10">{{ overall_top_10 }}</td>                   
                    <td class="percentages_top_100">{{ overall_top_100 }}</td>                   
                    <td class="time_to_convert">{{ overall_driving_time_seconds }}</td>
                </tr>

                <tr>
                    <th>Daily</th>                                                                        
                    <td class="percentages_events_finished">{{ daily_events_finished }}</td>
                    <td>{{ daily_points }}</td>
                    <td>{{ daily_average_points }}</td>
                    <td>{{ daily_average_finish_place }}</td>                  
                    <td class="percentages_first_places">{{ daily_first_places }}</td>                  
                    <td class="percentages_top_3">{{ daily_top_3 }}</td>                   
                    <td class="percentages_top_10">{{ daily_top_10 }}</td>                   
                    <td class="percentages_top_100">{{ daily_top_100 }}</td>                   
                    <td class="time_to_convert">{{ daily_driving_time_seconds }}</td>
                </tr>

                <tr>
                    <th>Daily2</th>                                                                        
                    <td class="percentages_events_finished">{{ daily2_events_finished }}</td>
                    <td>{{ daily2_points }}</td>
                    <td>{{ daily2_average_points }}</td>
                    <td>{{ daily2_average_finish_place }}</td>                  
                    <td class="percentages_first_places">{{ daily2_first_places }}</td>                  
                    <td class="percentages_top_3">{{ daily2_top_3 }}</td>                   
                    <td class="percentages_top_10">{{ daily2_top_10 }}</td>                   
                    <td class="percentages_top_100">{{ daily2_top_100 }}</td>                   
                    <td class="time_to_convert">{{ daily2_driving_time_seconds }}</td>
                </tr>

                <tr>
                    <th>Weekly</th>                                                                        
                    <td class="percentages_events_finished">{{ weekly_events_finished }}</td>
                    <td>{{ weekly_points }}</td>
                    <td>{{ weekly_average_points }}</td>
                    <td>{{ weekly_average_finish_place }}</td>                  
                    <td class="percentages_first_places">{{ weekly_first_places }}</td>                  
                    <td class="percentages_top_3">{{ weekly_top_3 }}</td>                   
                    <td class="percentages_top_10">{{ weekly_top_10 }}</td>                   
                    <td class="percentages_top_100">{{ weekly_top_100 }}</td>                   
                    <td class="time_to_convert">{{ weekly_driving_time_seconds }}</td>
                </tr>

                <tr>
                    <th>Weekly2</th>                                                                        
                    <td class="percentages_events_finished">{{ weekly2_events_finished }}</td>
                    <td>{{ weekly2_points }}</td>
                    <td>{{ weekly2_average_points }}</td>
                    <td>{{ weekly2_average_finish_place }}</td>                  
                    <td class="percentages_first_places">{{ weekly2_first_places }}</td>                  
                    <td class="percentages_top_3">{{ weekly2_top_3 }}</td>                   
                    <td class="percentages_top_10">{{ weekly2_top_10 }}</td>                   
                    <td class="percentages_top_100">{{ weekly2_top_100 }}</td>                   
                    <td class="time_to_convert">{{ weekly2_driving_time_seconds }}</td>
                </tr>
                    
                <tr>
                    <th>Monthly</th>                                                                        
                    <td class="percentages_events_finished">{{ monthly_events_finished }}</td>
                    <td>{{ monthly_points }}</td>
                    <td>{{ monthly_average_points }}</td>
                    <td>{{ monthly_average_finish_place }}</td>                  
                    <td class="percentages_first_places">{{ monthly_first_places }}</td>                  
                    <td class="percentages_top_3">{{ monthly_top_3 }}</td>                   
                    <td class="percentages_top_10">{{ monthly_top_10 }}</td>                   
                    <td class="percentages_top_100">{{ monthly_top_100 }}</td>                   
                    <td class="time_to_convert">{{ monthly_driving_time_seconds }}</td>
                </tr>

            </table>
        </div>


        <!-- <div class="driver_main_stats_table_div">                 
            <table class="driver_main_stats_table">
                
                <tr>
                    <th colspan="10" style="color: white; background-color: #337ab7;">World Rank (Country Rank)</th>
                </tr>

                <tr>
                    <th></th>
                    <th>Events</th>
                    <th>Points</th>
                    <th title="Average Points per Event">Average Points</th>
                    <th>Average Place</th>
                    <th>1st Places</th>
                    <th>Top 3</th>
                    <th>Top 10</th>
                    <th>Top 100</th>
                    <th>Driving Time</th>
                </tr>

                <tr>
                    <th>Overall</th>                                                                        
                    <td>{{ overall_world_rank_events_finished }} ({{ overall_country_rank_events_finished }})</td>
                    <td>{{ overall_world_rank_points }} ({{ overall_country_rank_points }})</td>
                    <td>{{ overall_world_rank_average_points }} ({{ overall_country_rank_average_points }})</td>
                    <td>{{ overall_world_rank_average_finish_place }} ({{ overall_country_rank_average_finish_place }})</td>                  
                    <td>{{ overall_world_rank_first_places }} ({{ overall_country_rank_first_places }})</td>                  
                    <td>{{ overall_world_rank_top_3 }} ({{ overall_country_rank_top_3 }})</td>                   
                    <td>{{ overall_world_rank_top_10 }} ({{ overall_country_rank_top_10 }})</td>                   
                    <td>{{ overall_world_rank_top_100 }} ({{ overall_country_rank_top_100 }})</td>                   
                    <td>{{ overall_world_rank_driving_time_seconds }} ({{ overall_country_rank_driving_time_seconds }})</td>
                </tr>

                <tr>
                    <th>Daily</th>                                                                        
                    <td>{{ daily_world_rank_events_finished }} ({{ daily_country_rank_events_finished }})</td>
                    <td>{{ daily_world_rank_points }} ({{ daily_country_rank_points }})</td>
                    <td>{{ daily_world_rank_average_points }} ({{ daily_country_rank_average_points }})</td>
                    <td>{{ daily_world_rank_average_finish_place }} ({{ daily_country_rank_average_finish_place }})</td>                  
                    <td>{{ daily_world_rank_first_places }} ({{ daily_country_rank_first_places }})</td>                  
                    <td>{{ daily_world_rank_top_3 }} ({{ daily_country_rank_top_3 }})</td>                   
                    <td>{{ daily_world_rank_top_10 }} ({{ daily_country_rank_top_10 }})</td>                   
                    <td>{{ daily_world_rank_top_100 }} ({{ daily_country_rank_top_100 }})</td>                   
                    <td>{{ daily_world_rank_driving_time_seconds }} ({{ daily_country_rank_driving_time_seconds }})</td>
                </tr>

                <tr>
                    <th>Daily2</th>                                                                        
                    <td>{{ daily2_world_rank_events_finished }} ({{ daily2_country_rank_events_finished }})</td>
                    <td>{{ daily2_world_rank_points }} ({{ daily2_country_rank_points }})</td>
                    <td>{{ daily2_world_rank_average_points }} ({{ daily2_country_rank_average_points }})</td>
                    <td>{{ daily2_world_rank_average_finish_place }} ({{ daily2_country_rank_average_finish_place }})</td>                  
                    <td>{{ daily2_world_rank_first_places }} ({{ daily2_country_rank_first_places }})</td>                  
                    <td>{{ daily2_world_rank_top_3 }} ({{ daily2_country_rank_top_3 }})</td>                   
                    <td>{{ daily2_world_rank_top_10 }} ({{ daily2_country_rank_top_10 }})</td>                   
                    <td>{{ daily2_world_rank_top_100 }} ({{ daily2_country_rank_top_100 }})</td>                   
                    <td>{{ daily2_world_rank_driving_time_seconds }} ({{ daily2_country_rank_driving_time_seconds }})</td>
                </tr>

                <tr>
                    <th>Weekly</th>                                                                        
                    <td>{{ weekly_world_rank_events_finished }} ({{ weekly_country_rank_events_finished }})</td>
                    <td>{{ weekly_world_rank_points }} ({{ weekly_country_rank_points }})</td>
                    <td>{{ weekly_world_rank_average_points }} ({{ weekly_country_rank_average_points }})</td>
                    <td>{{ weekly_world_rank_average_finish_place }} ({{ weekly_country_rank_average_finish_place }})</td>                  
                    <td>{{ weekly_world_rank_first_places }} ({{ weekly_country_rank_first_places }})</td>                  
                    <td>{{ weekly_world_rank_top_3 }} ({{ weekly_country_rank_top_3 }})</td>                   
                    <td>{{ weekly_world_rank_top_10 }} ({{ weekly_country_rank_top_10 }})</td>                   
                    <td>{{ weekly_world_rank_top_100 }} ({{ weekly_country_rank_top_100 }})</td>                   
                    <td>{{ weekly_world_rank_driving_time_seconds }} ({{ weekly_country_rank_driving_time_seconds }})</td>
                </tr>

                <tr>
                    <th>Weekly2</th>                                                                        
                    <td>{{ weekly2_world_rank_events_finished }} ({{ weekly2_country_rank_events_finished }})</td>
                    <td>{{ weekly2_world_rank_points }} ({{ weekly2_country_rank_points }})</td>
                    <td>{{ weekly2_world_rank_average_points }} ({{ weekly2_country_rank_average_points }})</td>
                    <td>{{ weekly2_world_rank_average_finish_place }} ({{ weekly2_country_rank_average_finish_place }})</td>                  
                    <td>{{ weekly2_world_rank_first_places }} ({{ weekly2_country_rank_first_places }})</td>                  
                    <td>{{ weekly2_world_rank_top_3 }} ({{ weekly2_country_rank_top_3 }})</td>                   
                    <td>{{ weekly2_world_rank_top_10 }} ({{ weekly2_country_rank_top_10 }})</td>                   
                    <td>{{ weekly2_world_rank_top_100 }} ({{ weekly2_country_rank_top_100 }})</td>                   
                    <td>{{ weekly2_world_rank_driving_time_seconds }} ({{ weekly2_country_rank_driving_time_seconds }})</td>
                </tr>
                    
                <tr>
                    <th>Monthly</th>                                                                        
                    <td>{{ monthly_world_rank_events_finished }} ({{ monthly_country_rank_events_finished }})</td>
                    <td>{{ monthly_world_rank_points }} ({{ monthly_country_rank_points }})</td>
                    <td>{{ monthly_world_rank_average_points }} ({{ monthly_country_rank_average_points }})</td>
                    <td>{{ monthly_world_rank_average_finish_place }} ({{ monthly_country_rank_average_finish_place }})</td>                  
                    <td>{{ monthly_world_rank_first_places }} ({{ monthly_country_rank_first_places }})</td>                  
                    <td>{{ monthly_world_rank_top_3 }} ({{ monthly_country_rank_top_3 }})</td>                   
                    <td>{{ monthly_world_rank_top_10 }} ({{ monthly_country_rank_top_10 }})</td>                   
                    <td>{{ monthly_world_rank_top_100 }} ({{ monthly_country_rank_top_100 }})</td>                   
                    <td>{{ monthly_world_rank_driving_time_seconds }} ({{ monthly_country_rank_driving_time_seconds }})</td>
                </tr>

            </table>
        </div> -->



        <div class="driver_events_stats_table">
            <div class="events_stats_headers">
                <p>Participation Stats</p>
            </div>
            
            <table class="driver_events_stats_stats_table">
                <tr>
                    <th>Daily Events</th> 
                    <th>Daily2 Events</th>
                    <th>Weekly Events</th>
                    <th>Weekly2 Events</th>
                    <th>Monthly Events</th>
                </tr>
                <tr>                                                                        
                    <td>{{ daily_events_completed }} out of {{ total_daily_events }} events</td>
                    <td>{{ daily2_events_completed }} out of {{ total_daily2_events }} events</td>                  
                    <td>{{ weekly_events_completed }} out of {{ total_weekly_events }} events</td>
                    <td>{{ weekly2_events_completed }} out of {{ total_weekly2_events }} events</td>             
                    <td>{{ monthly_events_completed }} out of {{ total_monthly_events }} events</td>
                </tr>
                <tr class="driver_events_stats_stats_table_percentile">                                                                        
                    <td><font color='red'>({{ daily_events_completed_percent }}%)</font></td>
                    <td><font color='red'>({{ daily2_events_completed_percent }}%)</font></td>                  
                    <td><font color='red'>({{ weekly_events_completed_percent }}%)</font></td>
                    <td><font color='red'>({{ weekly2_events_completed_percent }}%)</font></td>             
                    <td><font color='red'>({{ monthly_events_completed_percent }}%)</font></td>
                </tr>
                <tr>
                    <td>                                 
                        <div class="driver_stats_date_selector">
                            <form>
                                <select class="date_selector_menu">
                                    <option value="nothing">Select Date</option>
                                    {% for date in daily_events_date_list %}
                                        <option value="/all_events/Daily/{{ date }}/">{{ date }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </td>
                    <td>                                 
                        <div class="driver_stats_date_selector">
                            <form>
                                <select class="date_selector_menu">
                                    <option value="nothing">Select Date</option>
                                    {% for date in daily2_events_date_list %}
                                    <option value="/all_events/Daily2/{{ date }}/">{{ date }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </td>
                    <td>                                 
                        <div class="driver_stats_date_selector">
                            <form>
                                <select class="date_selector_menu">
                                    <option value="nothing">Select Date</option>
                                    {% for date in weekly_events_date_list %}
                                        <option value="/all_events/Weekly/{{ date }}/">{{ date }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </td>
                    <td>                                 
                        <div class="driver_stats_date_selector">
                            <form>
                                <select class="date_selector_menu">
                                    <option value="nothing">Select Date</option>
                                    {% for date in weekly2_events_date_list %}
                                        <option value="/all_events/Weekly2/{{ date }}/">{{ date }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </td>
                    <td>                                 
                        <div class="driver_stats_date_selector">
                            <form>
                                <select class="date_selector_menu">
                                    <option value="nothing">Select Date</option>
                                    {% for date in monthly_events_date_list %}
                                        <option value="/all_events/Monthly/{{ date }}/">{{ date }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>



        <footer>

        </footer>
    </div>
</div>

<script>

    var dateMenu = document.getElementsByClassName('date_selector_menu')[0];
    dateMenu.onchange = function() {
        var userOption = this.options[this.selectedIndex];
        if (userOption.value != 'nothing') {
            location.href = userOption.value;
        }
    }

    var dateMenu = document.getElementsByClassName('date_selector_menu')[1];
    dateMenu.onchange = function() {
        var userOption = this.options[this.selectedIndex];
        if (userOption.value != 'nothing') {
            location.href = userOption.value;
        }
    }

    var dateMenu = document.getElementsByClassName('date_selector_menu')[2];
    dateMenu.onchange = function() {
        var userOption = this.options[this.selectedIndex];
        if (userOption.value != 'nothing') {
            location.href = userOption.value;
        }
    }

    var dateMenu = document.getElementsByClassName('date_selector_menu')[3];
    dateMenu.onchange = function() {
        var userOption = this.options[this.selectedIndex];
        if (userOption.value != 'nothing') {
            location.href = userOption.value;
        }
    }

    var dateMenu = document.getElementsByClassName('date_selector_menu')[4];
    dateMenu.onchange = function() {
        var userOption = this.options[this.selectedIndex];
        if (userOption.value != 'nothing') {
            location.href = userOption.value;
        }
    }

</script>


{% endblock %}

