{% extends 'base.html'%}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="page-background">
    <div class="page-container">
        <div>
            <h2>Driver Stats</h2>
        </div>
        
        <table class="stats_switch_buttons">
            <tr>
                <td class="stats_active_switch_button"><a href="/driverstats/133513/">Driver Stats</a></td>
                <td class="stats_inactive_switch_button"><a href="/countrystats/Latvia/overall/overall_points/">Country stats</a></td>
            </tr>    
        </table>

        <div class="search">
            <input type="text" class="searchTerm" id="searchField" placeholder="Search by driver's name or ID...">
            <button id="myBtn" onclick="searchFunction()" type="submit" class="searchButton"><i class="fa fa-search"></i></button>
        </div>               
        
        <div class="no_qualified_drivers_page">
            <p>Driver with this particular name or ID was not found in database. Try searching again.</p>
        </div>


        <footer id="stats_footer" style="height: 600px;">

        </footer>
    </div>
</div>


{% endblock %}