{% extends 'base.html'%}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="page-background">
    <div class="page-container">
        <div>
            <h2>Driver Stats</h2>
        </div>
        
        <div class="stats_switch_buttons">
            <ul>
                <li class="stats_active_switch_button"><a href="/driverstats/133513/">Driver Stats</a></li>
                <li class="stats_inactive_switch_button"><a href="/countrystats/Latvia/overall/overall_points/">Country stats</a></li>
            </ul>    
        </div>            
        
        <div class="search">
            <input type="text" class="searchTerm" id="searchField" placeholder="Search by driver's name or ID...">
            <button id="myBtn" onclick="searchFunction()" type="submit" class="searchButton"><i class="fa fa-search"></i></button>
        </div>   

        <div class="no_qualified_drivers_page">
            <p>This driver has finished only {{ finished_events }} events so far. To qualify for leaderboards and stats, at least 3 events must be finished overall. The purpose of this is to filter out single event cheaters with unrealistic finish times and to clean up the leaderboards for fair drivers.</p>
        </div>


        <footer id="stats_footer" style="height: 1000px;">

        </footer>
    </div>
</div>


{% endblock %}

