{% extends 'base.html'%}

{% block content %}

{% load static %}

<div class="page-background">
    <div class="page-container">
    	<div>
    		<h2>Leaderboards</h2>
    	</div>
		<div class="leaderboards_switch_buttons">
			<ul>
				<li class="leaderboards_inactive_switch_button"><a href="/drivers_order_by/overall/overall_points/">Top Drivers</a></li>
				<li class="leaderboards_active_switch_button"><a href="/countries_order_by/overall/overall_points/">Top Countries</a></li>
			</ul>	 
		</div>	  

		<div class="leaderboards_event_category_switch_buttons">
			<ul>
				<li class="{{ overall_leaderboards_active_switch_button }}"><a href="/countries_order_by/overall/overall_points/">Overall</a></li>
				<li class="{{ daily_leaderboards_active_switch_button }}"><a href="/countries_order_by/daily/daily_points/">Daily</a></li>
				<li class="{{ daily2_leaderboards_active_switch_button }}"><a href="/countries_order_by/daily2/daily2_points/">Daily2</a></li>
				<li class="{{ weekly_leaderboards_active_switch_button }}"><a href="/countries_order_by/weekly/weekly_points/">Weekly</a></li>
				<li class="{{ weekly2_leaderboards_active_switch_button }}"><a href="/countries_order_by/weekly2/weekly2_points/">Weekly2</a></li>
				<li class="{{ monthly_leaderboards_active_switch_button }}"><a href="/countries_order_by/monthly/monthly_points/">Monthly</a></li>
			</ul>	 
		</div>

		{% if event_category == 'overall' %}	    		
			<div class="leaderboards_unique-countries">
				<p>{{ overall_qualified_countries }}</p>
	            <p>&nbsp;- Overall Countries</p> 	            
	       	</div>

	    {% elif event_category == 'daily' %}	    		
			<div class="leaderboards_unique-countries">
				<p>{{ daily_qualified_countries }}</p>
	            <p>&nbsp;- Daily Countries</p> 	            
	       	</div>

	    {% elif event_category == 'daily2' %}	    		
			<div class="leaderboards_unique-countries">
				<p>{{ daily2_qualified_countries }}</p>
	            <p>&nbsp;- Daily2 Countries</p> 	            
	       	</div>

	    {% elif event_category == 'weekly' %}	    		
			<div class="leaderboards_unique-countries">
				<p>{{ weekly_qualified_countries }}</p>
	            <p>&nbsp;- Weekly Countries</p> 	            
	       	</div>

	    {% elif event_category == 'weekly2' %}	    		
			<div class="leaderboards_unique-countries">
				<p>{{ weekly2_qualified_countries }}</p>
	            <p>&nbsp;- Weekly2 Countries</p> 	            
	       	</div>

	    {% elif event_category == 'monthly' %}	    		
			<div class="leaderboards_unique-countries">
				<p>{{ monthly_qualified_countries }}</p>
	            <p>&nbsp;- Monthly Countries</p> 	            
	       	</div>

    	{% endif %}

        <div class="leaderboards_tables">	    		    			  
	        	<table class="leaderboards_countries_table">	
	        		<tr>
	        			<th>Position</th> 

	        			<th>Flag</th>  

	        			<th class="{{ leaderboards_th3_activity_tag }}">
	        				<a href="/countries_order_by/{{ event_category }}/country_name">Country</a>
	        			</th>	

	        			<th class="{{ leaderboards_th4_activity_tag }}">
	        				<a href="/countries_order_by/{{ event_category }}/{{ event_category }}_number_of_drivers">Drivers</a>
	        			</th>

	        			<th class="{{ leaderboards_th5_activity_tag }}">
	        				<a href="/countries_order_by/{{ event_category }}/{{ event_category }}_events_finished">Races</a>
	        			</th>

	        			<th class="{{ leaderboards_th6_activity_tag }}">
	        				<a href="/countries_order_by/{{ event_category }}/{{ event_category }}_points">Points</a>
	        			</th>

	        			<th class="{{ leaderboards_th7_activity_tag }}" title="Average Points per Driver">
	        				<a href="/countries_order_by/{{ event_category }}/{{ event_category }}_average_points">Average Points</a>
	        			</th>

	        			<th class="{{ leaderboards_th8_activity_tag }}">
	        				<a href="/countries_order_by/{{ event_category }}/{{ event_category }}_average_finish_place">Average Place</a>
	        			</th>

	        			<th class="{{ leaderboards_th9_activity_tag }}">
	        				<a href="/countries_order_by/{{ event_category }}/{{ event_category }}_first_places">1st Places</a>        				
	        			</th>

	        			<th class="{{ leaderboards_th10_activity_tag }}">
	        				<a href="/countries_order_by/{{ event_category }}/{{ event_category }}_top_3">Top 3</a>
	        			</th>

	        			<th class="{{ leaderboards_th11_activity_tag }}">
	        				<a href="/countries_order_by/{{ event_category }}/{{ event_category }}_top_10">Top 10</a>
	        			</th>

	        			<th class="{{ leaderboards_th12_activity_tag }}">
	        				<a href="/countries_order_by/{{ event_category }}/{{ event_category }}_top_100">Top 100</a>
	        			</th>

	        			<th class="{{ leaderboards_th13_activity_tag }}">
	        				<a href="/countries_order_by/{{ event_category }}/{{ event_category }}_driving_time_seconds">Driving Time</a>
	        			</th>
	        		</tr>

		        	{% for row in object_ordered %}
		        		<tr>	        			
	        				<td>{{ forloop.counter }}</td>                     
                            {% with 'scrapping/Country_Flags/'|add:row.country_name|add:'.jpg' as image_static %}
                                <td><a id="flag_links" style="text-decoration: none; color: inherit;" href="/countrystats/{{ row.country_name }}/overall/overall_points/"><img class="hover_flag" src="{% static image_static %}" alt="no picture" height="24px" width="40px" title="{{ row.country_name }}"></a></td>
                            {% endwith %}       
                            <td><a id="name_links" style="text-decoration: none; color: inherit;" href="/countrystats/{{ row.country_name }}/overall/overall_points/">{{ row.country_name }}</a></td>             
                            {% if event_category == 'overall' %}	                      
	                            <td>{{ row.overall_number_of_drivers }}</td>
	                            <td class="percentages_events_finished">{{ row.overall_events_finished }}</td>
	                            <td>{{ row.overall_points }}</td>
	                            <td>{{ row.overall_average_points }}</td>
	                            <td>{{ row.overall_average_finish_place }}</td>
	                            <td class="percentages_first_places">{{ row.overall_first_places }}</td>
	                            <td class="percentages_top_3">{{ row.overall_top_3 }}</td>
		                        <td class="percentages_top_10">{{ row.overall_top_10 }}</td>
		                        <td class="percentages_top_100">{{ row.overall_top_100 }}</td>
		                        <td class="time_to_convert">{{ row.overall_driving_time_seconds }}</td>

		                    {% elif event_category == 'daily' %}	                      
	                            <td>{{ row.daily_number_of_drivers }}</td>
	                            <td class="percentages_events_finished">{{ row.daily_events_finished }}</td>
	                            <td>{{ row.daily_points }}</td>
	                            <td>{{ row.daily_average_points }}</td>
	                            <td>{{ row.daily_average_finish_place }}</td>
	                            <td class="percentages_first_places">{{ row.daily_first_places }}</td>
	                            <td class="percentages_top_3">{{ row.daily_top_3 }}</td>
		                        <td class="percentages_top_10">{{ row.daily_top_10 }}</td>
		                        <td class="percentages_top_100">{{ row.daily_top_100 }}</td>
		                        <td class="time_to_convert">{{ row.daily_driving_time_seconds }}</td>

		                    {% elif event_category == 'daily2' %}	                      
	                            <td>{{ row.daily2_number_of_drivers }}</td>
	                            <td class="percentages_events_finished">{{ row.daily2_events_finished }}</td>
	                            <td>{{ row.daily2_points }}</td>
	                            <td>{{ row.daily2_average_points }}</td>
	                            <td>{{ row.daily2_average_finish_place }}</td>
	                            <td class="percentages_first_places">{{ row.daily2_first_places }}</td>
	                            <td class="percentages_top_3">{{ row.daily2_top_3 }}</td>
		                        <td class="percentages_top_10">{{ row.daily2_top_10 }}</td>
		                        <td class="percentages_top_100">{{ row.daily2_top_100 }}</td>
		                        <td class="time_to_convert">{{ row.daily2_driving_time_seconds }}</td>

		                    {% elif event_category == 'weekly' %}	                      
	                            <td>{{ row.weekly_number_of_drivers }}</td>
	                            <td class="percentages_events_finished">{{ row.weekly_events_finished }}</td>
	                            <td>{{ row.weekly_points }}</td>
	                            <td>{{ row.weekly_average_points }}</td>
	                            <td>{{ row.weekly_average_finish_place }}</td>
	                            <td class="percentages_first_places">{{ row.weekly_first_places }}</td>
	                            <td class="percentages_top_3">{{ row.weekly_top_3 }}</td>
		                        <td class="percentages_top_10">{{ row.weekly_top_10 }}</td>
		                        <td class="percentages_top_100">{{ row.weekly_top_100 }}</td>
		                        <td class="time_to_convert">{{ row.weekly_driving_time_seconds }}</td>

		                    {% elif event_category == 'weekly2' %}	                      
	                            <td>{{ row.weekly2_number_of_drivers }}</td>
	                            <td class="percentages_events_finished">{{ row.weekly2_events_finished }}</td>
	                            <td>{{ row.weekly2_points }}</td>
	                            <td>{{ row.weekly2_average_points }}</td>
	                            <td>{{ row.weekly2_average_finish_place }}</td>
	                            <td class="percentages_first_places">{{ row.weekly2_first_places }}</td>
	                            <td class="percentages_top_3">{{ row.weekly2_top_3 }}</td>
		                        <td class="percentages_top_10">{{ row.weekly2_top_10 }}</td>
		                        <td class="percentages_top_100">{{ row.weekly2_top_100 }}</td>
		                        <td class="time_to_convert">{{ row.weekly2_driving_time_seconds }}</td>

		                    {% elif event_category == 'monthly' %}	                      
	                            <td>{{ row.monthly_number_of_drivers }}</td>
	                            <td class="percentages_events_finished">{{ row.monthly_events_finished }}</td>
	                            <td>{{ row.monthly_points }}</td>
	                            <td>{{ row.monthly_average_points }}</td>
	                            <td>{{ row.monthly_average_finish_place }}</td>
	                            <td class="percentages_first_places">{{ row.monthly_first_places }}</td>
	                            <td class="percentages_top_3">{{ row.monthly_top_3 }}</td>
		                        <td class="percentages_top_10">{{ row.monthly_top_10 }}</td>
		                        <td class="percentages_top_100">{{ row.monthly_top_100 }}</td>
		                        <td class="time_to_convert">{{ row.monthly_driving_time_seconds }}</td>

		                    {% endif %}
		        		</tr>
	        		{% endfor %}		        					        	
	        	</table>	                 	
        </div>

        <footer style="height: 350px;">
        	
        </footer>
    </div>
</div>

{% endblock %}
